.footerMain{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.footerMain a{
    color: rgb(255, 255, 255)
}
.footerMain a:hover{
    color: rgb(176, 79, 246)
}

.footer-contents,
.footer-header {
    padding: 10px;
}

.footer-header div {
    margin-top: 10px;
}

.footerMain .footer-contents ul li {
    list-style: none;
    padding: 2px;

}

.footerMain .footer-contents img {
    width: 20px;
    border-radius: 5px;
}

.footerMain .footer-contents ul li a {
    padding: 7px;
    text-decoration: none;

}
@media (max-width: 768px) {
    .footerMain{
        display: none;
    }
}
